node_modules
public/hot
public/images/avatars
public/store
public/storage
public/colors
public/colorsAr.css
storage/*.key
vendor
.idea
.vscode
.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
public/images/default_thumb/thumb_small/
.htaccess
public/images/award.svg
public/images/exit.svg
public/images/eye.svg
public/images/favicon.ico
public/images/manhalgreenaddon.png
public/images/manhalgreencheckon.svg
public/images/manhalgreendelete.svg
public/images/manhalgreenedit.svg
public/images/manhalgreenlefton.svg
public/images/manhalgreenlogo.png
public/images/manhalgreenrighton.svg
public/images/points.svg
public/images/rate.svg
public/images/save.svg
public/.htaccess
/public/files/
/public/files/git
/node_modules/
/public/quiz_duc/
/public/homework_duc/
/public/files/
/public/lesson_duc/
/public/editors/language
/public/editors/platform/games
/public/editors/platform/stories
#/public/editors/platform/quiz
/public/editors/platform/maze
/public/editors/storyeditor
/public/editors/config.php
/public/editors/storyeditor/js/story-editor.js
/public/doument_students/
/public/schedules/
/public/attach_comments/
/public/attach_massages/
